{% if section.settings.title %}
  <header>
    <h2 class="h1">{{ section.settings.title }}</h2>
  </header>
{% endif %}
<div class="glide">
  <div class="glide__track" data-glide-el="track">
      <ul class="collaborators__carousel glide__slides">
        {% for block in section.blocks %}
          <li class="glide__slide">
            <div class="collaborators__carousel__slide">
              <figure>
                {{ block.settings.item_image | image_url: width: 500 | image_tag }}
              </figure>
              <figcaption>
                {% if block.settings.item_name %}
                  <h3>{{ block.settings.item_name }}</h3>
                {% endif %}
                {% if block.settings.item_title %}
                  <p>{{ block.settings.item_title }}</p>
                {% endif %}
                {% if block.settings.item_link %}
                  <a href="{{ block.settings.item_link }}" target="_blank">{{ block.settings.item_button }}</a>
                {% endif %}
              </figcaption>
            </div>        
          </li>
        {% endfor %}
      </ul>
  </div>
  <div class="collaborators__controls" data-glide-el="controls">
    <button data-glide-dir="<"><svg viewBox="0 0 44 18" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.90649 16.96L2.1221 9.17556L9.9065 1.39116"></path>
        <path d="M42.8633 9.18125L3.37868 9.18125"></path>
      </svg></button>
    <button data-glide-dir=">"><svg viewBox="0 0 44 18" xmlns="http://www.w3.org/2000/svg">
        <path d="M34.1477 1.39111L41.9321 9.17551L34.1477 16.9599"></path>
        <path d="M1.19088 9.16982H40.6755"></path>
      </svg></button>
  </div>
</div>

{% schema %}
{
  "name": "Carousel",
  "tag": "section",
  "class": "collaborators",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    }
  ],
  "max_blocks": 25,
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "item_image",
           "label": "Image"
         },
          {
            "type": "text",
            "id": "item_name",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "item_title",
            "label": "Subheading"
          },
          {
            "type": "text",
            "id": "item_button",
            "default": "Learn More",
            "label": "Button Label"
          },
          {
            "type": "text",
            "id": "item_link",
            "default": "https://",
            "label": "Button URL"
          }
       ]
     }
  ],
  "presets": [
    {
      "name": "Collaborators",
      "settings": {
        "title": "Collaborator Carousel"
      },
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
/* carousel content styles */
.collaborators {
  --carousel-button-size: 36px;
  --carousel-color: #ff98b1;
  position: relative;
  padding-top: 3.3vmax;
  padding-bottom: 3.3vmax;
}
.collaborators header {
  padding: 0 2vw 30px;
}
.collaborators header h2 {
  margin: 0;
}

.collaborators__carousel {
  list-style: none;
  margin: 0;
  padding: 0;
}
.collaborators__carousel__slide {
  background-color: var(--carousel-color);
  padding: 5%;
}
.collaborators__carousel figure {
  padding: 0;
  margin: 0 0 20px;
  width: 100%;
  height: 0;
  padding-bottom: calc((100% / 4) * 3);
  position: relative;
  overflow: hidden;
}
.collaborators__carousel figure img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0 !important;
}
.collaborators__carousel figcaption h3 {
  font-size: 2.125rem;
  text-transform: uppercase;
  margin: 0;
}
.collaborators__carousel figcaption p {
  font-size: 1em;
  text-transform: uppercase;
  margin: 0.5em 0;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.collaborators__carousel figcaption a {
  display: inline-block;
  font-size: 0.9em;
  font-weight: 600;
  color: var(--carousel-color);
  background: black;
  text-decoration: none;
  border-radius: 300px;
  padding: 0.5em 1.5em;
  letter-spacing: 0.05em;
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.collaborators__carousel figcaption a:hover {
  opacity: 0.7;
}

/* carousel button styles */
.collaborators .collaborators__controls button {
  position: absolute;
  top: calc(50% - var(--carousel-button-size) / 2);
  z-index: 2;
  border-radius: 50%;
  padding: 8px;
  border: 0;
  background-color: var(--carousel-color);
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.collaborators .collaborators__controls button:hover {
  opacity: 1;
}
.collaborators .collaborators__controls [data-glide-dir="<"] {
  left: 3vw;
}
.collaborators .collaborators__controls [data-glide-dir=">"] {
  right: 3vw;
}
.collaborators .collaborators__controls svg {
  width: var(--carousel-button-size);
  height: var(--carousel-button-size);
  display: block;
}
.collaborators .collaborators__controls svg path {
  stroke: black;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: none;
}
@media (max-width: 700px) {
  .collaborators .collaborators__controls {
    display: none;
  }
}
{% endstylesheet %}

{% javascript %}
  
{% endjavascript %}
